<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="description" content="Movement : R package containing useful functions for the analysis of movement data in disease modelling and mapping">

        <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/movement/stylesheets/stylesheet.css" >

		<title>{{ page.title }}</title>
	</head>
	
    <body>
	
	    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/andrew-schofield-tessella/movement">View on GitHub</a>

          <h1 id="project_title">Movement</h1>
          <h2 id="project_tagline">R package containing useful functions for the analysis of movement data in disease modelling and mapping</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/andrew-schofield-tessella/movement/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/andrew-schofield-tessella/movement/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>
	
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">